aiocache==0.12.2
aiohttp==3.9.4
aioquic==0.9.25
aiosignal==1.3.1
aiosqlite==0.20.0
annotated-types==0.7.0
anyio==4.6.0
arsenic==21.8
asgiref==3.8.1
attrs==24.2.0
beautifulsoup4==4.12.3
blinker==1.8.2
Brotli==1.1.0
browser-cookie3==0.19.1
certifi==2024.8.30
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
cryptography==42.0.8
Django==5.1.3
django-environ==0.11.2
dnspython==2.6.1
Flask==3.0.3
frozenlist==1.4.1
greenlet==3.1.1
h11==0.14.0
h2==4.1.0
hpack==4.0.0
httpcore==1.0.4
httpx==0.27.0
httpx-ntlm==1.4.0
humanize==4.9.0
hyperframe==6.0.1
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.4
jsonschema==4.17.3
jsonschema-spec==0.1.6
kaitaistruct==0.10
lazy-object-proxy==1.10.0
ldap3==2.9.1
loguru==0.7.2
lz4==4.3.3
Mako==1.3.2
MarkupSafe==2.1.5
mitmproxy==10.2.3
mitmproxy-macos==0.5.2
mitmproxy_rs==0.5.2
msgpack==1.0.8
multidict==6.1.0
nassl==5.2.0
openapi-schema-validator==0.4.4
openapi-spec-validator==0.5.7
packaging==24.1
passlib==1.7.4
pathable==0.4.3
prance==23.6.21.0
protobuf==4.25.5
publicsuffix2==2.20191221
pyasn1==0.5.1
pyasn1_modules==0.4.1
pycparser==2.22
pycryptodomex==3.20.0
pydantic==2.6.4
pydantic_core==2.16.3
pylsqpack==0.3.18
pyOpenSSL==24.0.0
pyparsing==3.1.4
pyperclip==1.8.2
pyrsistent==0.20.0
pyspnego==0.11.1
PyYAML==6.0.2
requests==2.32.3
rfc3339-validator==0.1.4
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.8
service-identity==24.1.0
setuptools==75.1.0
six==1.16.0
sniffio==1.3.1
socksio==1.0.0
sortedcontainers==2.4.0
soupsieve==2.6
SQLAlchemy==2.0.28
sqlparse==0.5.2
sslyze==6.0.0
structlog==20.2.0
tld==0.13
tls_parser==2.0.1
tornado==6.4.1
typing_extensions==4.10.0
urllib3==2.2.3
urwid-mitmproxy==2.1.2.1
wapiti3==3.2.0
Werkzeug==3.0.4
wsproto==1.2.0
yarl==1.11.1
yaswfp==0.9.3
zstandard==0.22.0
