/* components/Header.css */

/* Header Styles */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.title {
  font-size: 2.5rem;
  color: #02111b;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-link {
  text-decoration: none;
  font-size: 1rem;
  color: #5d737e;
  position: relative;
  transition: color 0.3s ease;
}

.nav-link::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #02111b;
  left: 0;
  bottom: -5px;
  transition: width 0.3s ease;
}

.nav-link:hover {
  color: #02111b;
}

.nav-link:hover::after,
.nav-link.active::after {
  width: 100%;
}

.nav-link.active {
  color: #02111b;
}

/* Responsive Design */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    gap: 20px;
  }

  .nav-list {
    flex-direction: column;
    align-items: center;
  }
}
