/* Header.css */

/* Header Styles */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #fcfcfc;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
  height: 80px; /* Konsistente Höhe für den Header */
  max-width: 1200px;
  margin: 0 auto; /* Zentrierung */
}

.title {
  font-size: 2rem;
  color: #02111b;
  font-weight: bold;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.nav-link {
  text-decoration: none;
  font-size: 1.1rem;
  color: #5d737e;
  font-weight: 600;
  position: relative;
  transition: color 0.3s ease;
  padding: 0.5rem;
}

.nav-link::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #02111b;
  left: 0;
  bottom: -5px;
  transition: width 0.3s ease;
}

.nav-link:hover {
  color: #02111b;
}

.nav-link:hover::after,
.nav-link.active::after {
  width: 100%;
}

.nav-link.active {
  color: #02111b;
}

/* Responsive Design */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
  }

  .title {
    font-size: 1.8rem;
  }

  .nav-list {
    flex-direction: column;
    align-items: center;
  }

  .nav-link {
    font-size: 1rem;
  }
}
