/* App.css */

/* Global Styles */
:root {
  --primary-color: #2c3e50;
  --secondary-color: #2c3e50;
  --background-color: #f5f7fa;
  --text-color: #333;
  --border-radius: 8px;
  --transition: all 0.3s ease;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body,
html,
#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.wrapper {
  max-width: 1200px;
  width: 100%;
  padding: 2rem;
  padding-top: 100px; /* Abstand, um den Header einzubeziehen */
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 80px); /* Höhenausgleich für den Header */
}

.page-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem 1.5rem;
  text-align: center;
  background-color: var(--background-color);
  min-height: calc(100vh - 150px); /* Platz für Header und Footer */
}

.page-title {
  font-size: 3rem;
  color: #02111b;
  font-weight: bold;
  margin-bottom: 1rem;
  transition: color 0.3s ease;
}

.page-text {
  font-size: 1.25rem;
  color: #5d737e;
  max-width: 700px;
  line-height: 1.6;
  margin-bottom: 2rem;
}

.cta-button {
  background-color: #02111b;
  color: #fff;
  padding: 1rem 2rem;
  border: none;
  font-size: 1.2rem;
  border-radius: var(--border-radius);
  transition: background-color 0.3s ease, transform 0.2s ease;
  font-weight: bold;
  text-transform: uppercase;
}

.cta-button:hover {
  background-color: #5d737e;
  transform: translateY(-2px);
}

.footer {
  background-color: #30292f;
  color: #fcfcfc;
  padding: 1rem;
  text-align: center;
  width: 100%;
  position: relative;
  bottom: 0;
}

.footer p {
  margin: 0;
  font-size: 1rem;
}

/* Responsive Design */
@media (max-width: 768px) {
  .page-title {
    font-size: 2.5rem;
  }

  .page-text {
    font-size: 1rem;
  }

  .cta-button {
    font-size: 1rem;
    padding: 0.8rem 1.5rem;
  }
}
